:root {
    --fuenteHeading: "PT Sans";
    --fuenteParrafos: "Open Sans";
    --claro: #e1e1e1;
    --color-primario: #784D3C;
    --color-blanco: #fff;
    --color-negro: #000;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    font-family: var(--fuenteParrafos);
    font-size: 1.6rem;
    line-height: 2;
}